<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>Background Image</title>
    <style>
      body {
        background-image: url('../static/wallpapers/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
      <link rel="stylesheet" type="text/css" href="../static/css/login_style.css">
      <link rel="icon" type="image/png" href="../static/icons/flight_icon.png">
  </head>
  <body>
    <div class="login-form">
        <h2>Login</h2>
        <form action='/login' method="POST">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" autocomplete="off" value="test@test.com">
          <br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" value="123456">
          <br>
          <input type="submit" value="Login">
        </form>
    </div>
  </body>
</html>
