<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight query</title>
    <link rel="stylesheet" type="text/css" href="../static/flight_form_style.css">
    <link rel="icon" type="image/png" href="../static/icons/flight_icon.png">
</head>

<body>

<form id="form" method="post">
    <div class="background-window rounded">
        <label for="query-name">Query name:</label>
        <input type="text" id="query-name" name="folder-name" value="FortalezaRio">
        <label for="departure-airport">Departure Airport:</label>
        <select id="departure-airport" name="departure-airport">
            <option value="FOR">FOR</option>
            <option value="RIO">RIO</option>
            <option value="SAO">SAO</option>
            <option value="BSB">BSB</option>
            <option value="DFW">DFW</option>
            <option value="other">Other</option>
        </select><br>
        <label for="arrival-airport">Arrival Airport:</label>
        <select id="arrival-airport" name="arrival-airport">
            <option value="FOR">FOR</option>
            <option value="RIO">RIO</option>
            <option value="SAO">SAO</option>
            <option value="BSB">BSB</option>
            <option value="DFW">DFW</option>
            <option value="other">Other</option>
        </select><br>
        <label for="price">Price Alert:</label>
        <input type="text" id="price" name="price" value="1000"><br>
        <label for="duration">Maximum Duration:</label>
        <select id="duration" name="duration">
            <option value="2">2 hours</option>
            <option value="4">4 hours</option>
            <option value="6">6 hours</option>
            <option value="8">8 hours</option>
            <option value="10">10 hours</option>
        </select>

        <br>

        <label for="departure-date">Departure Date:</label>
        <input type="date" id="departure-date" name="departure-date" value="2022-01-01">
        <input type="submit" value="Submit">
    </div>

</form>

<script src="../static/flight_query_logic.js"></script>

</body>

</html>