body {
    font-family: Arial, sans-serif;
}
label {
    font-size: 18px;
    font-weight: bold;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.value {
    font-size: 18px;
}
.folder-name {
    color: blue;
}
.departure-airport {
    color: green;
}
.arrival-airport {
    color: red;
}
.price {
    color: orange;
}